.App {
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: right;
  padding: 10px;
}

.header-title {
  display: flex;
  font-size: 2.5em;
  font-weight: 300;
}

.header-scoreboard {
  display: flex;
}

.header-scoreboard > p {
  margin-left: 10px;
}

.header-scoreboard > p > span {
  font-weight: 400;
  font-size: 1.2em;
}

.game-container {
  display: block;
}

.game-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.card > img {
  width: 100px;
  height: 100px;
}